.bag {
  width: 45px;
  height: 26px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.bag-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.bag-link:focus-visible {
  outline: 2px solid #000;
  outline-offset: 4px;
  border-radius: 2px;
}
