.header {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 100px;
  gap: 20px;

  position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  box-sizing: border-box;

  background: #ffffff;
}
