.logo {
  width: 74px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo-link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.logo-link:focus-visible {
  outline: 2px solid #000;
  outline-offset: 4px;
  border-radius: 2px;
}
