.counter-container {
  width: 100%;
  padding: 8px 100px;
  box-sizing: border-box;
}

.counter-text {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1200px) {
  .counter-container {
    padding: 8px 60px;
  }
}

@media (max-width: 900px) {
  .counter-container {
    padding: 8px 40px;
  }
}

@media (max-width: 600px) {
  .counter-container {
    padding: 8px 20px;
  }
}
