.product-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;

  width: 100%;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.brand-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  margin: 0;

  height: 31px;

  flex: 1;
  order: 0;
  min-width: 0;
}

.brand {
  width: 250px;
  height: 12px;

  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  color: #79736d;
  transition: color 0.6s ease-in-out;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.name {
  width: 250px;
  height: 15px;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  color: #000000;
  transition: color 0.6s ease-in-out;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.base-price {
  margin: 0;
  height: 15px;

  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: capitalize;
  white-space: nowrap;

  color: #000000;
  transition: color 0.6s ease-in-out;

  flex: none;
  order: 1;
  flex-shrink: 0;
}
